// 
// AngularJS Flickr Components
// ----------------------------------

$color-black: #171717;
$color-gray: #929292;
$color-gray-light: #F5F5F5;
$sidebar-width: 250px;

.amo-flickr-album-list-container {
    color: $color-black;
    position: relative;
}

.amo-flickr-album-list,
.amo-flickr-album-thumbnails > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li > a {
        cursor: pointer;
        display: block;
    }
}

.amo-flickr-album-list {
    bottom: 0;
    font-size: 14px;
    padding: 15px 0;
    position: fixed;
    text-align: right;
    width: $sidebar-width;

    .link-item {
        color: $color-gray;
        padding: 6px 18px;

        &:hover,
        &:active,
        &:focus,
        &.active {
            color: $color-black;
        }
    }
}

.amo-flickr-album {
    background-color: $color-gray-light;
    bottom: 0;
    left: $sidebar-width;
    position: fixed;
    right: 0;
    top: 0;

    .navigation {
        bottom: 0;
        display: block;
        position: absolute;
        top: 100px;
        width: 50%;
    }

    .navigation-right {
        right: 0;
    }
}

.amo-flickr-album-thumbnails {
    overflow: auto;

    > ul {
        margin-bottom: -3px;
        white-space: nowrap;

        > li {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            display: inline-block;
        }
    }

    .link-item.active {
        opacity: .5;
    }
}

.amo-flickr-album-photo .amo-image {
    position: absolute;
}

.amo-image {
    background-color: $color-gray-light;
    display: block;
}
