// 
// AngularJS Flickr Components
// ----------------------------------

.amo-flickr-album-list-container {
    position: relative;
}

.amo-flickr-album-list,
.amo-flickr-album-thumbnails > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.amo-flickr-album {
    left: 200px;
    position: absolute;
    right: 0;
    top: 0;
}

.amo-flickr-album-thumbnails {
    overflow: auto;

    > ul {
        white-space: nowrap;

        > li {
            display: inline;
        }
    }

    .thumbnail {
        height: 100px;
    }
}
