// 
// AngularJS Flickr Component Demo
// ----------------------------------

@import 'angular-flickr';

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
