<div class="amo-flickr-album">
    <div class="amo-flickr-album-thumbnails">
        <ul>
            <li ng-repeat="photo in flickrAlbum.album.photo">
                <a
                    class="link-item"
                    ng-class="{ 'active': flickrAlbum.isPhotoActive(photo) }"
                    ng-click="flickrAlbum.setPhoto(photo)">
                    <amo-flickr-photo
                        height="flickrAlbum.thumbnailSize"
                        photo="photo"
                        size="s">
                    </amo-flickr-photo>
                </a>
            </li>
        </ul>
    </div>
    <amo-flickr-photo
        class="amo-flickr-album-photo"
        height="flickrAlbum.photoHeight"
        photo="flickrAlbum.currentPhoto"
        size="o"
        thumbnail-size="s"
        width="flickrAlbum.photoWidth">
    </amo-flickr-photo>
</div>
