namespace app.core {
    'use strict';

    /**
     * @ngdoc config
     * @module flickrAlbumDemo.core
     * @name AppConfig
     * @requires amoFlickrConfigurationProvider
     */
    export class AppConfig {

        /**
         * @ngInject
         */
        constructor(amoFlickrConfigurationProvider: amo.flickrAlbum.FlickrConfigurationProvider) {
            amoFlickrConfigurationProvider.setApiKey('ABC123');
        }
    }

    angular
        .module('flickrAlbumDemo.core')
        .config(AppConfig);
}
